@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html, body {
  scroll-behavior: smooth;
  background-color: #0F0F1C;
  color: #F5F5F7;
  font-family: 'Inter', sans-serif;
}
